<section
  id="MediaGallery-{{ section.id }}"
  role="region"
  class="w-full {% if section.settings.enable_sticky_info %} md:sticky md:top-12 {% endif %}"
  aria-label="{{ 'products.product.media.gallery_viewer' | t }}"
  x-data="product_gallery"
>
  <div
    class="w-full overflow-hidden rounded-[10px] shadow-sm"
    x-ref="swiperContainer"
  >
    {%- assign media_position = 0 -%}

    <ul
      class="swiper-wrapper w-full"
      role="list"
    >
      {%- if product.selected_or_first_available_variant.featured_media != null -%}
        {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
        {%- assign media_position = media_position | plus: 1 -%}
        {%- render 'product-media', media: featured_media, position: media_position -%}
      {%- endif -%}

      {%- for media in product.media -%}
        {%- if media.id == product.selected_or_first_available_variant.featured_media.id -%}
          {%- continue -%}
        {%- endif -%}

        {%- assign media_position = media_position | plus: 1 -%}
        {%- render 'product-media', media: media, position: media_position -%}
      {%- endfor -%}
    </ul>
  </div>

  <div class="w-full flex justify-center mt-3">
    <div
      class="max-w-max"
      x-ref="pagination"
      style="
        --swiper-pagination-color: #000000;
        --swiper-pagination-bullet-size: 12px;
      "
    ></div>
  </div>
</section>
